body {
    margin: 0;
    box-sizing: border-box;
    background-image: url(../images/background.jpg);   
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4423e;
    color: white;
    padding: 0 70px;
}
#h1 {
    font-size: x-large;
    font-family: 'Dancing Script';
}
#menu {
    font-size: 20px;
}
nav ul li {
    display: inline;
    margin-right: 100px;
    padding: 69px;
}
#menu li:hover {
    background-color: #b32c28;
}

/*Container*/

#bg_white {
    background-color: white;
    margin: 100px 300px 50px 300px;
    padding: 50px 30px 300px 30px;
    border-radius: 10px;
}
h2 {
    color: #d4423e;
    font-size: xx-large;
    font-family: 'Dancing Script';
    text-align: center;
    margin-bottom: 50px;
}
h3 {
    color: #d4423e;
    font-family: 'Dancing Script';
    font-size: xx-large;
}
#img_cadeau {
    display: flex;
    justify-content: space-around; 
    width: 1000px;   
}
#nom_cadeau {
    display: flex;
    justify-content: space-between;
    margin: -60px 30px 80px 30px;
}
figcaption {
    background-color: rgb(31, 28, 28);
    color: white;
    padding: 20px 80px;
    text-align: center;
}
h4 {
    color: #d4423e;
    font-family: 'Dancing Script';
    font-size: x-large;
}
#map {
    float: left;
    margin-right: 30px;
}
footer div {
    background-color: #d4423e;
    height: 100px;
}
#mail {
    width: 200px;
    height: 28px;
}
button {
    width: 150px;
    height: 35px;
    background-color: #d4423e;
    color: white;
}

/*MEDIA QUERIES.....MEDIA QUERIES.....MEDIA QUERIES.....MEDIA QUERIES.....MEDIA QUERIES.....*/
@media screen and(max-width) {
    header {
        a
    }
}